<!doctype html>
<html>
 <head>
  <title>D3 with flask</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- static serve -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='src/css/style.css') }}">
  <!-- d3 -->
  <script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script>
 </head>
 <body>
  <script>
    d3.select('body')
        .append('h1')
        .text('home');
  </script>
    <p>Hi D3 and Flask!!</p>
  <div id="listbox1">A</div>
  <div id="listbox2">B</div>
  <div id="listbox3">C</div>
  <div id="listbox4">D</div>
  <script>
    d3.selectAll('div')
        .style('background-color', function(d,i){
            return (i % 2 == 0) ? "black":"white";
        })
        .style('color', function(d,i){
            return (i % 2 == 0) ? "white":"black";
        });
  </script>
 </body>
</html>
